
.selectric-hide-select > select#product_cat{
	display: none !important;
}
.showSubMenu {
    width: auto;
    display: block;
    top: auto;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    min-width: 10em;
    max-width: 1000px;
}
.elementor-menu-toggle{
    transform: translateX(-69px);
}
.home article .grid-box .post-meta:nth-child(1){
    display: none !important;
}
.grid-box .post-meta{
    
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

} 
.single-product ul li,
.single-product p,
table tbody tr td{
    color: #000;
    font-size: 1rem;
}
.single-product table {
    margin: 20px 0px;
}
.tax-product_cat .gridlist-toggle{
    display: none;
}
.customizationRequestbtn{
    
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    width: 100%;
    align-items: baseline;

}

.breathingbtn a button{
    display: flex;
}
.home .swiper-wrapper{
    align-items: center !important;
}


.elementor-element-1241b3d {
	
    position: absolute;
    top: -199%;
    z-index: 1;
    right: 5%;

}
.tax-product_cat .sidebar-content #wpforms-widget-2,
.archive #custom_html-2,
.archive #custom_html-3 ,
.archive #custom_html-5, 
.single-press-releases .elementor-widget-container #wpforms-widget-2,
.single-press-releases .elementor-widget-container #woocommerce_product_categories-3 ,
.post-type-archive-press-releases .porto-blog-sidebar ,
.post-type-archive-press-releases #wpforms-widget-2 ,
.post-type-archive-press-releases #woocommerce_product_categories-3
{
	
	display: none;
}
.single-press-releases p strong{

    color: #f04c23;
	}
.single-press-releases table tr td{
    font-size: 12px;
}

p, .porto-u-sub-heading {  
    font-size: 15px ;
    line-height: 28px ;
    color: #000 ;
}

.text-color-white{ color: #fff !important; }
.bar-charts-container .row{
  justify-content: center;
}
#woocommerce_products-7 .widget-title{
   
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
    font-weight: 600;

}
.category .elementor-post__title{
    line-height: 32px;
}
.single-press-releases table{
	margin-bottom: 40px;
}

.single-product table tr,
.single-product table tr td,
.single-press-releases table tr, .single-press-releases table tr td{
	border: 1px solid #000 !important;
}

.post-type-archive-press-releases .elementor-widget-archive-posts .elementor-post__title a{
	line-height: 32px;
}

.elementor-11921 .elementor-element.elementor-element-e7f7b6c .elementor-heading-title {
    color: #000000;
    font-size: 1.2rem;
}



.single-press-releases .elementor-widget-container table tr:first-child{
	
	color: #000;
	
	
}
.single-press-releases .elementor-widget-container p ,
.single-press-releases .elementor-widget-container ul li,
.single-press-releases .elementor-widget-container ol li,
.single-press-releases .elementor-widget-container table tr:not(:first-child){
	
	
    font-size: 1rem;
    line-height: 1.5;
    color: #000;

}

.archive #yith-ajaxsearchform fieldset{
	display: flex;
}
#yith_woocommerce_ajax_search-2 h3{
	font-size: 1em;
}

.woocommerce-page.archive .sidebar-content aside.widget{
	padding: 20px 0px;
}
.elementor-element-c6afb4a{
	align-items: flex-start;
}
/*
.elementor-element-3e96dc1{
	padding: 22px 0 0 0 ;
}
*/
/*
.elementor-element-8f27fbd{
	padding: 16px 0 0 0; 
}
*/
.elementor-element-04f34f8{
	margin-top: 0px !important;
}
.woocommerce-page.archive .sidebar-content aside.widget #product_cat{ max-width: 76%;}
.buythisreport:hover{
	 background: #fff;
    color: #f04c23;
	
}


.buythisreport{
	
    background: #f04c23;
    color: #fff;
	border: 1px solid #f04c23;
    padding: 14px 10px;
    font-size: 15px;
    margin: 10px 0px;
    display: block;
    text-align: center;
    font-weight: 500;

}

h1.page-title p{
	
	letter-spacing: 2px;
	margin: 10px 0 0 0;
	
}


.bar-charts-container {
    box-shadow: rgba(0,0,0,.35) 0 5px 15px;
    margin: 30px 0;
    background: #edeceb;
    border-radius: 10px;
    padding: 20px 0;
}




.elementor-element-b8788f2{
    background: #f1f1f1 !important;
    padding: 1% 0 !important;
}		
.grw-slider-content{ display: none !important;}
.wp-google-name a span{ color: #fff !important; }
form.searchform-pr .search-pr{
    
    flex-wrap: nowrap !important;
    


}
#wpcf7-f551-o3 > * {
			font-family: var(--porto-body-ff);
		}

		/*Main menu*/

		@media  (min-width: 768px) {

		.elementor-element-04f34f8 .elementor-element-d46e026 {
			display: none !important;
			width: 0px !important;

		}
		.elementor-element-04f34f8 .elementor-element-2fec85e {
			width: 100%;
			margin: 0 0 0 12%;
		}


		}



		/*
		.selectric-wrapper .selectric ,
		.selectric-wrapper .selectric-items 
		{
			display:none;
		}
		*/

		/*FAQs*/


		#accordion h4 {
			background-color: #f3ecea !important;
			padding: 0px !important;
			border-left: 3px solid #f04c23;
		}
		#accordion h4 a[aria-expanded="true"]{

			background-color: #f06f4f !important ;
		}
		#accordion h4 a:hover{
			background-color: #f06f4f;
			transition: all .5s;
		}
		#accordion h4 a {
			font-size: 1rem !important;
			color: #3d3b3b !important;
			font-family: var(--porto-body-ff);
			text-transform: capitalize !important;
			font-weight: 600;
			background-color: #d6d2d1 !important;
		}

		/*Header*/

		/*Report page */

		.page-id-994 .comapaniestrusted .owl-carousel {
			margin-bottom: 5px;
		}
		.page-id-994 .wpcf7-form-control.wpcf7-select{
			border-radius: 0px;
		}

		.btn:hover {
			color: #212529;
			text-decoration: none;
		}

		.btn.focus,
		.btn:focus {
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}

		.btn.disabled,
		.btn:disabled {
			opacity: 0.65;
		}

		a.btn.disabled,
		fieldset:disabled a.btn {
			pointer-events: none;
		}

		.btn-primary {
			color: var(--porto-primary-color) ;
			background-color: var(--porto-primary-color);
			border: 1px solid var(--porto-primary-color);
		}

		.elementor-element-7616bc1 .elementor-widget-container h2{

			margin-bottom: 10px !important;
		}
		.elementor-element-7616bc1 .elementor-widget-container ul{
			margin-bottom: 0px !important;
			list-style: none;
		}

		.elementor-element-7616bc1 .elementor-widget-container .parentcategory-sidebar {
			padding: 5px 0;
		}
		.btn-primary:hover , .btn-primary i:hover {
			color: var(--porto-primary-color);
			background-color: #fff;
			border-color: var(--porto-primary-color);
			transition: all .5s;
		}

		.btn-primary.focus,
		.btn-primary:focus {
			box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
		}

		.btn-primary.disabled,
		.btn-primary:disabled {
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
		}

		.btn-primary:not(:disabled):not(.disabled).active,
		.btn-primary:not(:disabled):not(.disabled):active,
		.show>.btn-primary.dropdown-toggle {
			color: #fff;
			background-color: #0062cc;
			border-color: #005cbf;
		}

		.btn-primary:not(:disabled):not(.disabled).active:focus,
		.btn-primary:not(:disabled):not(.disabled):active:focus,
		.show>.btn-primary.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
		}

		.btn-secondary {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
		}

		.btn-secondary:hover {
			color: #fff;
			background-color: #5a6268;
			border-color: #545b62;
		}

		.btn-secondary.focus,
		.btn-secondary:focus {
			box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
		}

		.btn-secondary.disabled,
		.btn-secondary:disabled {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
		}

		.btn-secondary:not(:disabled):not(.disabled).active,
		.btn-secondary:not(:disabled):not(.disabled):active,
		.show>.btn-secondary.dropdown-toggle {
			color: #fff;
			background-color: #545b62;
			border-color: #4e555b;
		}

		.btn-secondary:not(:disabled):not(.disabled).active:focus,
		.btn-secondary:not(:disabled):not(.disabled):active:focus,
		.show>.btn-secondary.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
		}

		.btn-success {
			color: #fff;
			background-color: #28a745;
			border-color: #28a745;
		}

		.btn-success:hover {
			color: #fff;
			background-color: #218838;
			border-color: #1e7e34;
		}

		.btn-success.focus,
		.btn-success:focus {
			box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
		}

		.btn-success.disabled,
		.btn-success:disabled {
			color: #fff;
			background-color: #28a745;
			border-color: #28a745;
		}

		.btn-success:not(:disabled):not(.disabled).active,
		.btn-success:not(:disabled):not(.disabled):active,
		.show>.btn-success.dropdown-toggle {
			color: #fff;
			background-color: #1e7e34;
			border-color: #1c7430;
		}

		.btn-success:not(:disabled):not(.disabled).active:focus,
		.btn-success:not(:disabled):not(.disabled):active:focus,
		.show>.btn-success.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
		}

		.btn-info {
			color: #fff;
			background-color: #17a2b8;
			border-color: #17a2b8;
		}

		.btn-info:hover {
			color: #fff;
			background-color: #138496;
			border-color: #117a8b;
		}

		.btn-info.focus,
		.btn-info:focus {
			box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
		}

		.btn-info.disabled,
		.btn-info:disabled {
			color: #fff;
			background-color: #17a2b8;
			border-color: #17a2b8;
		}

		.btn-info:not(:disabled):not(.disabled).active,
		.btn-info:not(:disabled):not(.disabled):active,
		.show>.btn-info.dropdown-toggle {
			color: #fff;
			background-color: #117a8b;
			border-color: #10707f;
		}

		.btn-info:not(:disabled):not(.disabled).active:focus,
		.btn-info:not(:disabled):not(.disabled):active:focus,
		.show>.btn-info.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
		}

		.btn-warning {
			color: #212529;
			background-color: #ffc107;
			border-color: #ffc107;
		}

		.btn-warning:hover {
			color: #212529;
			background-color: #e0a800;
			border-color: #d39e00;
		}

		.btn-warning.focus,
		.btn-warning:focus {
			box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
		}

		.btn-warning.disabled,
		.btn-warning:disabled {
			color: #212529;
			background-color: #ffc107;
			border-color: #ffc107;
		}

		.btn-warning:not(:disabled):not(.disabled).active,
		.btn-warning:not(:disabled):not(.disabled):active,
		.show>.btn-warning.dropdown-toggle {
			color: #212529;
			background-color: #d39e00;
			border-color: #c69500;
		}

		.btn-warning:not(:disabled):not(.disabled).active:focus,
		.btn-warning:not(:disabled):not(.disabled):active:focus,
		.show>.btn-warning.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
		}

		.btn-danger {
			color: #fff;
			background-color: #dc3545;
			border-color: #dc3545;
		}

		.btn-danger:hover {
			color: #fff;
			background-color: #c82333;
			border-color: #bd2130;
		}

		.btn-danger.focus,
		.btn-danger:focus {
			box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
		}

		.btn-danger.disabled,
		.btn-danger:disabled {
			color: #fff;
			background-color: #dc3545;
			border-color: #dc3545;
		}

		.btn-danger:not(:disabled):not(.disabled).active,
		.btn-danger:not(:disabled):not(.disabled):active,
		.show>.btn-danger.dropdown-toggle {
			color: #fff;
			background-color: #bd2130;
			border-color: #b21f2d;
		}

		.btn-danger:not(:disabled):not(.disabled).active:focus,
		.btn-danger:not(:disabled):not(.disabled):active:focus,
		.show>.btn-danger.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
		}

		.btn-light {
			color: #212529;
			background-color: #f8f9fa;
			border-color: #f8f9fa;
		}

		.btn-light:hover {
			color: #212529;
			background-color: #e2e6ea;
			border-color: #dae0e5;
		}

		.btn-light.focus,
		.btn-light:focus {
			box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
		}

		.btn-light.disabled,
		.btn-light:disabled {
			color: #212529;
			background-color: #f8f9fa;
			border-color: #f8f9fa;
		}

		.btn-light:not(:disabled):not(.disabled).active,
		.btn-light:not(:disabled):not(.disabled):active,
		.show>.btn-light.dropdown-toggle {
			color: #212529;
			background-color: #dae0e5;
			border-color: #d3d9df;
		}

		.btn-light:not(:disabled):not(.disabled).active:focus,
		.btn-light:not(:disabled):not(.disabled):active:focus,
		.show>.btn-light.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
		}

		.btn-dark {
			color: #fff;
			background-color: #343a40;
			border-color: #343a40;
		}

		.btn-dark:hover {
			color: #fff;
			background-color: #23272b;
			border-color: #1d2124;
		}

		.btn-dark.focus,
		.btn-dark:focus {
			box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
		}

		.btn-dark.disabled,
		.btn-dark:disabled {
			color: #fff;
			background-color: #343a40;
			border-color: #343a40;
		}

		.btn-dark:not(:disabled):not(.disabled).active,
		.btn-dark:not(:disabled):not(.disabled):active,
		.show>.btn-dark.dropdown-toggle {
			color: #fff;
			background-color: #1d2124;
			border-color: #171a1d;
		}

		.btn-dark:not(:disabled):not(.disabled).active:focus,
		.btn-dark:not(:disabled):not(.disabled):active:focus,
		.show>.btn-dark.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
		}

		.btn-outline-primary {
			color: #007bff;
			border-color: #007bff;
		}

		.btn-outline-primary:hover {
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
		}

		.btn-outline-primary.focus,
		.btn-outline-primary:focus {
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
		}

		.btn-outline-primary.disabled,
		.btn-outline-primary:disabled {
			color: #007bff;
			background-color: transparent;
		}

		.btn-outline-primary:not(:disabled):not(.disabled).active,
		.btn-outline-primary:not(:disabled):not(.disabled):active,
		.show>.btn-outline-primary.dropdown-toggle {
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
		}

		.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
		.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-primary.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
		}



		.btn-outline-secondary.focus,
		.btn-outline-secondary:focus {
			box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
		}

		.btn-outline-secondary.disabled,
		.btn-outline-secondary:disabled {
			color: #6c757d;
			background-color: transparent;
		}

		.btn-outline-secondary:not(:disabled):not(.disabled).active,
		.btn-outline-secondary:not(:disabled):not(.disabled):active,
		.show>.btn-outline-secondary.dropdown-toggle {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
		}

		.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
		.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-secondary.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
		}

		.btn-outline-success {
			color: #28a745;
			border-color: #28a745;
		}

		.btn-outline-success:hover {
			color: #fff;
			background-color: #28a745;
			border-color: #28a745;
		}

		.btn-outline-success.focus,
		.btn-outline-success:focus {
			box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
		}

		.btn-outline-success.disabled,
		.btn-outline-success:disabled {
			color: #28a745;
			background-color: transparent;
		}

		.btn-outline-success:not(:disabled):not(.disabled).active,
		.btn-outline-success:not(:disabled):not(.disabled):active,
		.show>.btn-outline-success.dropdown-toggle {
			color: #fff;
			background-color: #28a745;
			border-color: #28a745;
		}

		.btn-outline-success:not(:disabled):not(.disabled).active:focus,
		.btn-outline-success:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-success.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
		}

		.btn-outline-info {
			color: #17a2b8;
			border-color: #17a2b8;
		}

		.btn-outline-info:hover {
			color: #fff;
			background-color: #17a2b8;
			border-color: #17a2b8;
		}

		.btn-outline-info.focus,
		.btn-outline-info:focus {
			box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
		}

		.btn-outline-info.disabled,
		.btn-outline-info:disabled {
			color: #17a2b8;
			background-color: transparent;
		}

		.btn-outline-info:not(:disabled):not(.disabled).active,
		.btn-outline-info:not(:disabled):not(.disabled):active,
		.show>.btn-outline-info.dropdown-toggle {
			color: #fff;
			background-color: #17a2b8;
			border-color: #17a2b8;
		}

		.btn-outline-info:not(:disabled):not(.disabled).active:focus,
		.btn-outline-info:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-info.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
		}

		.btn-outline-warning {
			color: #ffc107;
			border-color: #ffc107;
		}

		.btn-outline-warning:hover {
			color: #212529;
			background-color: #ffc107;
			border-color: #ffc107;
		}

		.btn-outline-warning.focus,
		.btn-outline-warning:focus {
			box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
		}

		.btn-outline-warning.disabled,
		.btn-outline-warning:disabled {
			color: #ffc107;
			background-color: transparent;
		}

		.btn-outline-warning:not(:disabled):not(.disabled).active,
		.btn-outline-warning:not(:disabled):not(.disabled):active,
		.show>.btn-outline-warning.dropdown-toggle {
			color: #212529;
			background-color: #ffc107;
			border-color: #ffc107;
		}

		.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
		.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-warning.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
		}

		.btn-outline-danger {
			color: #dc3545;
			border-color: #dc3545;
		}

		.btn-outline-danger:hover {
			color: #fff;
			background-color: #dc3545;
			border-color: #dc3545;
		}

		.btn-outline-danger.focus,
		.btn-outline-danger:focus {
			box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
		}

		.btn-outline-danger.disabled,
		.btn-outline-danger:disabled {
			color: #dc3545;
			background-color: transparent;
		}

		.btn-outline-danger:not(:disabled):not(.disabled).active,
		.btn-outline-danger:not(:disabled):not(.disabled):active,
		.show>.btn-outline-danger.dropdown-toggle {
			color: #fff;
			background-color: #dc3545;
			border-color: #dc3545;
		}

		.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
		.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-danger.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
		}

		.btn-outline-light {
			color: #f8f9fa;
			border-color: #f8f9fa;
		}

		.btn-outline-light:hover {
			color: #212529;
			background-color: #f8f9fa;
			border-color: #f8f9fa;
		}

		.btn-outline-light.focus,
		.btn-outline-light:focus {
			box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
		}

		.btn-outline-light.disabled,
		.btn-outline-light:disabled {
			color: #f8f9fa;
			background-color: transparent;
		}

		.btn-outline-light:not(:disabled):not(.disabled).active,
		.btn-outline-light:not(:disabled):not(.disabled):active,
		.show>.btn-outline-light.dropdown-toggle {
			color: #212529;
			background-color: #f8f9fa;
			border-color: #f8f9fa;
		}

		.btn-outline-light:not(:disabled):not(.disabled).active:focus,
		.btn-outline-light:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-light.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
		}

		.btn-outline-dark {
			color: #343a40;
			border-color: #343a40;
		}


		.btn-outline-dark:hover {
			color: #fff;
			background-color: #343a40;
			border-color: #343a40;
		}

		.btn-outline-dark.focus,
		.btn-outline-dark:focus {
			box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
		}

		.btn-outline-dark.disabled,
		.btn-outline-dark:disabled {
			color: #343a40;
			background-color: transparent;
		}

		.btn-outline-dark:not(:disabled):not(.disabled).active,
		.btn-outline-dark:not(:disabled):not(.disabled):active,
		.show>.btn-outline-dark.dropdown-toggle {
			color: #fff;
			background-color: #343a40;
			border-color: #343a40;
		}

		.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
		.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
		.show>.btn-outline-dark.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
		}

		.btn-link {
			font-weight: 400;
			color: #007bff;
			text-decoration: none;
		}

		.btn-link:hover {
			color: #0056b3;
			text-decoration: underline;
		}

		.btn-link.focus,
		.btn-link:focus {
			text-decoration: underline;
			box-shadow: none;
		}

		.btn-link.disabled,
		.btn-link:disabled {
			color: #6c757d;
			pointer-events: none;
		}

		.btn-group-lg>.btn,
		.btn-lg {
			padding: 0.5rem 1rem;
			font-size: 1.25rem;
			line-height: 1.5;
			border-radius: 0.3rem;
		}

		.btn-group-sm>.btn,
		.btn-sm {
			padding: 0.25rem 0.5rem;
			font-size: 0.875rem;
			line-height: 1.5;
			border-radius: 0.2rem;
		}

		.btn-block {
			display: block;
			width: 100%;
		}

		.btn-block+.btn-block {
			margin-top: 0.5rem;
		}

		input[type=button].btn-block,
		input[type=reset].btn-block,
		input[type=submit].btn-block {
			width: 100%;
		}

		.fade {
			transition: opacity 0.15s linear;
		}

		.buynowbtn:hover{
			border: 1px solid #0B5B82 !important;
		}
		.related-reports-item {


			justify-content: space-between;
			flex-direction: row;
			padding: 2% 0;
			align-items: center;
		}
		.related-reports-item .report-title{


			font-size: 1rem;
			font-weight: 700;


		}
		.btn-outline-secondary{
			color: #fff;
			border-color: var(--bs-primary);
		}

		.footer-bg-dark a:hover , .research-footer-section a:hover{
			color: #fff;
			transition: all .5s;
		}
		.footer-bg-dark a , .research-footer-section a{

			color: var(--bs-primary);
			text-decoration: none;
		}
		#newsletterForm #newsletter{  padding: 10px 0 10px 5px; }

		.payment-gateway-icons img{
			max-width: 60%;
		}
		.payment-gateway-icons{
			display: flex;
			flex-direction: column;
			margin: 25px 0 0 0 ;
		}
		.related-report-container h2{
			padding: 0 0 10px 0;
			border-bottom: 1px solid #222020;
		}
		.view-cart-btn{ display: none !important;}
		.single_add_to_cart_button {
			background-color: var(--bs-primary);

			margin: 0 auto;
			border: 0px;

		}
		.request-for-customization {
			position: fixed !important;
			right: 12% !important;
			top: 0% !important;
			transform: translateX(10%);
			width: 25%;
		}


		.related_sample-download-btn:hover{

			color: #f06f4f;
			text-decoration: none;
			background-color: #ffff;
			transition: all .5s;

		}

		.related_sample-download-btn{


			color: #fff;
			background-color: #f06f4f;
			padding: 6px 28px;
			font-family: var(--porto-body-ff);
			display: block;
			text-align: center;
			text-decoration: none;
			border: 1px solid #f06f4f;
			font-size: 1rem;
		}
		/*Footer Styles*/



		.subscribe-input #submit{

			background-color:  var(--bs-primary);
			color: #fff;
		}
		.fixedFooter a:hover{
			transition: all .5s;
			color: #fff;
			text-decoration: none;

		}
		.fixedFooter a{
			font-family: Poppins;
			color: #fff;
			font-size: 1.3rem;
			text-transform: uppercase;
			vertical-align: middle;
			font-weight: 700;

		}
		.fixedFooter {
			position: fixed;
			bottom: 0px;
			width: 100%;
			background-color: #7707ff;
			padding: 14px 0 2px 0;
			z-index: 9;
		}
		footer.footer-bg-dark h4{

			font:  Poppins;
			color: #fff;
			letter-spacing: 1.0;
			margin: 0 0 14px;
			font-size: 1.3rem;
		}
		.footer-sub-heading{
			font-size: 1rem;
			color: #fff;
			font-family: Poppins;
			font-weight: 500;
		}
		.footer-copyrights{
			font-size: 0.8rem;
			color: #fff;
			font-family: Poppins;

		}
		.subscribe-input #submit{

			padding: 22% 12%;

		}
		.single-product #newsletter{

			padding: 0px 0 0px 5px !important;
			color: #777 !important;
		}
		.single-product .page-top .page-title{

			font-size: 30px;
		}
		.single-product .related {
			display: none;
		}
		.archive .add-links .button{
			border: 1px solid var(--porto-primary-color);

		}
		.reportMetaArchive{

			display: flex; flex-direction: row; justify-content: flex-start; width: 100%; gap: 50px;
		}
		#block-5 .widget  ul li:last-child{ border: 0px ;}

		footer.footer-bg-dark address{
			color: var(--porto-primary-color);
		}
		.single-product .breadcrumb li:nth-child(3){ display: none;}
		.icon::before {
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
		}

		.single-product .page-top{ padding: 0px !important; margin: 0px !important;}
		.elementor-element-6713682 { padding: 0px !important;}
		.single-product .shape-divider-bottom ,
		body.single-product .shape-divider-bottom {
			display: none;
		}
		.single-product .elementor-shortcode .page-top
		{

			padding:0px !important;
			margin:0px !important;
		}

		.post-type-archive .category-meta{
			display: none;
		}
		.archive .add-links .button:hover{
			color: var(--porto-primary-color);

			transition: all .5s;
			background-color: #fff;
		}
		.grayicon:hover{
			color: #f04c23;
			transition: all .5s
		}
		.grayicon{
			color: #a4a2a2;
			margin: 0 10px 0 0;
		}
		.whiteicon:hover{
			color: #f04c23;
			transition: all .5s
		}

		.whiteicon{
			color: #fff;
		}
		.tb-padding-big{

			padding: 1% 0;
		}
		.research-footer-section{


			padding: 5% 0;
			background-color: #303c46;
			background-image: url('../images/footer-waves-dark.jpg');
			background-repeat: no-repeat;
			background-position: center, center;
			background-size: cover;


		}
		.research-footer-section h4{


			color: #fff;
			text-align: center;
			font-size: 1.7rem;

		}

		.research-footer-section h5{ color: #fff !important; }
		.research-footer-section a{ color: var(--bs-primary);}

		.footer-bg-dark{

			background-color: var(--porto-color-dark);

		}

		/*Single report page*/

		.fa-check{ color: #fff; }


		/*Check out page styles*/
		.customer-support-checkout-container {
			background-color: var(--bs-primary);
			color: #fff;
			font-size: 1rem;
			font-weight: 500;
			margin: 5% 0;
			padding: 24px 0% 5px 0%;
		}
		.customer-support-checkout-container ul{

			display: flex;
			justify-content: space-around;
			align-items: center;

		}
		.customer-support-checkout-container ul li{
			list-style: none;

			display: flex;
			justify-content: start;
			align-items: center;

		}
		.customer-support-checkout-container ul li p{
			padding: 0px;
			margin: 0px 0px 0px 10px;
		}
		.customer-support-checkout-container ul li img{

			max-width: 7%;
		}
		.tableRow img{
			max-width: 15%;
		}
		.payment-icon-alignment button:hover{
			border: 1px solid var(--porto-primary-color);
			color: var(--porto-primary-color);
			background-color: #fff;
			transition: all .5s;
		}
		.payment_tableHeading , .payment_tableRow{

			display: flex;
			justify-content: space-between;
		}
		.payment-icon-alignment button{

			background-color: var(--porto-primary-color);
			border: 1px solid var(--porto-primary-color);
			padding: 10px 23px;
			font-size: 1rem;
			color: #fff;
			margin: 10px 0 0 0;
			font-weight: 600;
			display: block;

		}
		.borderRight{
			border-right: 2px solid #ccc;
		}
		.payment-icon-alignment{


			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		}
		.sectionHeading{
			background-color: var(--porto-primary-color);
			color: #fff;
			text-align: center;
			padding: 10px 0;
		}
		.reportExcerpt{


			font-size: 1.2rem;
			font-weight: 500;
			line-height: 1.5;
			max-height: 150px;
			overflow: hidden;

		}
		.reportNameContainer{
			display: flex;
			justify-content: start;
		}
		.backtoreport{


			margin: 0 15px 0 0px;

		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
		}

		/* Style table headers and table data */
		 

		th:first-child, td:first-child {
			text-align: left;
		}

		/* Zebra-striped table rows */
		/*
		tr:nth-child(even) {
		  background-color: #f2f2f2
		}
		*/

		.elementor-element-2b58340 .elementor-widget-wrap{
			
			background-color: #f1f1f1;
			padding: 25px;

		}
		.text-color-white{
			color: #fff;
		}
		.woocommerce-checkout table tr:not(:first-child):hover{
			background-color: var(--porto-primary-color);
			color: #fff;
			cursor: pointer;
			transition: all .5s;
		}
		.activeRow{

			background-color: var(--porto-primary-color);
			color: #fff;
		}
		tr:not(:first-child){


			border-bottom: 1px solid #000000;

		}
		input[type="radio"]:checked + tr {
			background-color: var(--porto-primary-color);
			color: #fff;
		}

		.fa-check {
			color: green;
		}

		.fa-remove {
			color: red;
		}
		tr td i.fa , .fa-file-pdf{
			font-size: 1.4rem;
		}













		/* */

		.panel-default>.panel-heading {
			color: #333;
			background-color: #fff;
			border-color: #e4e5e7;
			padding: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.panel-default>.panel-heading a {
			display: block;
			padding: 10px 15px;
		}

		.panel-default > .panel-heading a::after {
			content: "";
			position: relative;
			top: 7px;
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: 900;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			float: right;
			transition: transform .25s linear;
			-webkit-transition: -webkit-transform .25s linear;
		}
		.panel-body p {
			font-size: .9rem;
		}

		.panel-default > .panel-heading a[aria-expanded="true"] {
			background-color: #f06f4f !important;
		}

		.panel-default>.panel-heading a[aria-expanded="true"]:after {
			content: "\2212";
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		.panel-default>.panel-heading a[aria-expanded="false"]:after {
			content: "\002b";
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
















		.customer-support-checkout-container {
			background-color: var(--bs-primary);
			color: #fff;
			font-size: 1rem;
			font-weight: 500;
			margin: 5% 0;
			padding: 24px 0% 5px 0%;
		}
		.customer-support-checkout-container ul{

			display: flex;
			justify-content: space-around;
			align-items: center;

		}
		.customer-support-checkout-container ul li{
			list-style: none;

			display: flex;
			justify-content: center;
			align-items: center;

		}
		.customer-support-checkout-container ul li p{
			padding: 0px;
			margin: 0px 0px 0px 10px;
		}
		.customer-support-checkout-container ul li img{

			max-width: 7%;
		}
		.tableRow img{
			max-width: 15%;
		}
		.payment-icon-alignment button:hover{
			border: 1px solid var(--porto-primary-color);
			color: var(--porto-primary-color);
			background-color: #fff;
			transition: all .5s;
		}
		.payment_tableHeading , .payment_tableRow{

			display: flex;
			justify-content: space-between;
		}
		.payment-icon-alignment button{

			background-color: var(--porto-primary-color);
			border: 1px solid var(--porto-primary-color);
			padding: 10px 23px;
			font-size: 1rem;
			color: #fff;
			margin: 10px 0 0 0;
			font-weight: 600;
			display: block;

		}
		.borderRight{
			border-right: 2px solid #ccc;
		}
		.payment-icon-alignment{


			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		}
		.sectionHeading{
			background-color: var(--porto-primary-color);
			color: #fff;
			text-align: center;
			padding: 10px 0;
		}
		.reportExcerpt{


			font-size: 1.2rem;
			font-weight: 500;
			line-height: 1.5;
			max-height: 150px;
			overflow: hidden;

		}
		.reportNameContainer{
			display: flex;
			justify-content: start;
		}
		.backtoreport{


			margin: 0 15px 0 0px;

		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
		}

		/* Style table headers and table data */
		 

		th:first-child, td:first-child {
			text-align: left;
		}

		/* Zebra-striped table rows */
		/*
		tr:nth-child(even) {
		  background-color: #f2f2f2
		}
		*/



		#order_review{

			display: block;
		}
		#customer_details{

			margin: 40px 0;
		}
		.woocommerce-checkout table tr:not(:first-child):hover{
			background-color: #ffebe6;
			color: #000;
			cursor: pointer;
			transition: all .5s;
		}
		.activeRow {
			background-color: #ffebe6;
			color: #000;
		}
		tr:not(:first-child){


			border-bottom: 1px solid #54595F;
			font-size: 12px;

		}
		input[type="radio"]:checked + tr {
			background-color: var(--porto-primary-color);
			color: #fff;
		}

		.fa-check {
			color: green;
		}

		.fa-remove {
			color: red;
		}
		tr td i.fa , .fa-file-pdf{
			font-size: 1.4rem;
		}


		#newsletterForm .subscribe-input input{ max-width: 76%;}
		.page-header-8{ display: none;}
		.elementor-3352 .elementor-element.elementor-element-3fc25e7 .elementor-tab-title.elementor-active { color: var( --porto-primary-color); font-size: 1.05rem !important; border-bottom: 4px solid var(--porto-primary-color) !important;}
		.elementor-tabs-content-wrapper .elementor-tab-title { color: #000; font-size: 1.2rem;}
		.archive .woocommerce-loop-product__title{

			font-family: var(--porto-h3-ff);
			font-size: 20px !important;
			font-weight: 700 !important;
			letter-spacing: .5px !important;

		}
		.category-meta{


			font-size: 1rem;
			color: var(--porto-color-dark);
			font-weight: 500;

		}
		#wpcf7-f4380-p492-o1 form .wpcf7-text{
			max-width: 64%;
			border: 1px solid #ccc;
		}
		/*#myTabContent .show {*/
		/*    height: 600px ;*/
		/*    overflow: hidden;*/
		/*}*/
		#myTabContent .tab-pane p{
			font-size: 1rem ;
			line-height: 1.5;
		}
		.tab-content{
			border: 0px !important ; 
		}
		#myTab {
			margin: 2% 0 5% 0;
			justify-content: space-around;
			align-items: center;
		}
		.single-product p strong{
			color: #f04c23;
			font-size: 1.1rem;
		}
		#wpforms-17645-field_2-container{
			
			margin: 0 0 2% 0;

		}
		#wpforms-17645-field_3  {
			
			padding: 2px 5px;
			margin-bottom: 10px;

		}
		#wpforms-17645-field_2 {
			padding: 10px 5px;
			margin-bottom: 10px;
			/*width: 81%; */
		}
		/*
		footer .wpforms-field-container {
			
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			gap: 9px;

		} */
		.owl-carousel .owl-item img {
			display: block;
			width: 50% !important;
			padding: 0% 0;
		}
		.sidebar-ij-child-cat li:hover{

			color: #fff;
			background-color: var(--porto-color-primary);
		}
		.widget h2.widgettitle, #yith_woocommerce_ajax_search-2 h3 {

			font-size: 1.2rem !important;
			font-weight: 700;
		}
		.woocommerce-page.archive .sidebar-content aside.widget #product_cat {
			max-width: 100% !important;
		}
		.woocommerce-page.archive .sidebar-content aside.widget{ border: 0px; }
		/*#infographic-details{ max-height: 450px !important;} */

		#wpcf7-f4338-o1 form .wpcf7-submit:hover{

			color: #F04C23;
			background-color: #fff;
		}
		#wpcf7-f4338-o1 form .wpcf7-submit{

			margin: 30px 0 0 0;

			background-color: #F04C23;
			border-radius: 5px 5px 5px 5px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

		}
		#wpcf7-f4338-o1 form .wpcf7-text{ max-width: 100%;}

		#wpcf7-f4338-o1 .wpcf7-form textarea {
			max-height: 90px !important;
			max-width: 100%;
		}
		.elementor-icon-list-text > span{


			color: #000;
			font-weight: 700;
			margin: 0 10px 0 0;
			font-size: 1.1rem;

		}

		.page-header-7 .col-lg-12{ padding: 30px 0 0 0 ;}
		.related-reports-item .col-md-4{ margin-right: -15px !important; }
		/*.related-reports-item .col-md-4 a:visited{
		   color: #fff;
		} */

		.cid-btn-bg:hover span {
			color: #f04c23 !important;
			border-color: #f04c23 !important;
		}



		#wpcf7-f4410-o2 .wpcf7-submit {
			font-size: 1.2rem;
			font-weight: 700;
		}
		#wpcf7-f4410-o2 .wpcf7-text {
			margin: 0 0 20px 0;
			width: 100%;
			height: 45px;
		}
		.elementor-element-ba45959{ display: none;}
		.woocommerce-shop .porto-woo-category-sidebar #block-5{ display: none; }
		.single-product	#wpcf7-f4410-o2 .wpcf7-select
		{

			width: 100%;
		}
		#wpcf7-f4410-o1 .wpcf7-form input[type="submit"]:hover {

			border: 1px solid var(--porto-color-primary);
			background-color: transparent;
			color: var(--porto-color-primary);

		}
		#wpcf7-f4410-o1 .wpcf7-form input[type="submit"] {

			border: 1px solid var(--porto-color-primary);
		}
		#wpcf7-f4410-o1 .wpcf7-text {
			width: 100%;
			padding: 4px 5px;
			color: #ccc;
			font-size: 17px;
			font-weight: 500;
		}
		#wpcf7-f4410-o1 .wpcf7-select ,
		#wpcf7-f4410-o2 .wpcf7-select
		{

			width: 100%;
			height: 45px;
			padding: 0 0 0 8px;
			color: #ccc;
			margin: 15px 0;

		}
		.order-summary .card .card-header h5, .purchase-summary .card-header h5, .payment-head-sec h5 {
			color: #fff;
			line-height: 2;
			font-size: 1.3rem;
			font-weight: 600;
			font-family: 'Poppins';
			letter-spacing: 1px;
		}
		#myModal .modal-body{
			width: 100%;
			margin: 0px auto;
		}

		#wpcf7-f551-o3 .wpcf7-list-item label .wpcf7-list-item-label{
			font-size: .8rem;
		}
		#myModal #wpcf7-f551-o3 h2{
			font-size: 28px;
			margin: 5px 0;
		}
		#myModal #wpcf7-f551-o3 .col-md-6  p:not(:first-child), #myModal #wpcf7-f551-o3  .cf7-section-title{
			padding: 0 0 0 20px;
		}
		#myModal #wpcf7-f551-o3 .wpcf7-form input[type="submit"]:hover{

			background-color: #fff ;
			color: var(--porto-primary-color) !important;
			transition: all .5s;
			border: 1px solid var(--porto-primary-color) !important;
		}
		#myModal #wpcf7-f551-o3 .captachcontainer { padding: 13px 0 0 0 !important; }
		#myModal #wpcf7-f551-o3 .wpcf7-textarea{
			height: 50px;
			margin: 0 0 0px 0;
		}
		#myModal #wpcf7-f551-o3 .wpcf7-form input[type="submit"]{
			background-color: var(--porto-primary-color);
			color: #fff;
			font-size: 1rem;
			border: 1px solid var(--porto-primary-color);
		}
		#myModal #wpcf7-f551-o3 select.wpcf7-select{

			height: 47px;
			padding: 0px 0 10px 7px;
			border-radius: 5px;
		}

		.woocommerce-ordering, .gridlist-toggle{

			display: none;
		}

		#block-7 ul:nth-child(1){

			display: none;
		}

		.parentcategory-sidebar i ,
		.childcategory-sidebar i{
			margin: 0 5px 0 0;
			color: var(--porto-primary-color);
		}

		.parentcategory-sidebar{ padding: 15px 0;}



		#parentcat-aside{


			position: relative;
			margin: 5px 0;

		}

		#mini-cart{
			display: none;
		}
		#header .header-contact{ border-right: none;}

		.contactSubmitContainer .wpcf7-form input[type="submit"]:hover{


			background-color: #fff !important;
			color: var(--porto-primary-color) !important;

		}
		.comapaniestrusted p{

			position: absolute;
			top: -23%;
			left: 21%;
			background-color: #ffff;
			padding: 0 2%;
			font-size: .8rem !important;
			font-style: italic;

		}
		.comapaniestrusted {
			position: relative;
			padding: 2% 5px 0% 5px;
			border: 1px solid var(--porto-primary-color);
			border-radius: 5px;
		}
		.contactSubmitContainer input[type=submit]:hover{
			border-color: var(--porto-primary-color);
			background-color: transparent;
			color: var(--porto-primary-color);
		}
		.contactSubmitContainer input[type=submit]{
			color:#fff;
			background-color: var(--porto-primary-color);
		}
		.newsletterformFooter select.wpcf7-select {
			width: 100%;
			color: #777;
			height: 54px;
			border-radius: 0px !important;
			margin: 0 0 5% 0;
		}
		.newsletterformFooter input.wpcf7-text {
			width: 100%;
			padding: 15px 10px;
			color: #777;
			text-transform: capitalize;
			margin: 0 0 5% 0;
		}
		.newsletterformFooter input[type=submit]{
			font-weight: 700;
		}
		.newsletterformFooter input[type=submit]:hover{
			transition: all .5s;
			border-color: var(--porto-primary-color);
			color: var(--porto-primary-color);
			background-color: transparent;
		}
		.wpcf7-form-control.wpcf7-select {
			padding: 0px 10px;
			border: 1px solid #ccc;
			color: #000;
			height: 47px;
			font-weight: normal;

		}
		.contactSubmitContainer .wpcf7-form input[type="submit"]{

			color: #fff !important;
			background-color: var(--porto-primary-color) !important;
			border: 1px solid var(--porto-primary-color) !important;

		}
		.ij-purchasing-options{
			
			height: auto !important;
			background-color: #0E8BC8 !important;
		}
		.ij-purchase-option{
		//*    max-height: 712px !important;*/

			padding: 45px 25px 45px 25px !important;
		}

		#wpcf7-f551-p494-o1 .wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.form-control {
			height: 60px;
		}
		.ij-report-meta{
			font-size: 0.8rem;
			padding: 1% 5%;
		}


		#header .main-menu>li.menu-item.active>a {
			background-color: #f04c23;
			color: #fff;
		}

		.elementor-31 .elementor-element.elementor-element-3d369fd .elementor-button[type="submit"]:hover {

			color: #F04C23;
			background-color: #fff;

		}
		.elementor-31 .elementor-element.elementor-element-3d369fd .elementor-button[type="submit"] {
			color: #ffffff;
			background-color: #F04C23;
			border: 1px solid #F04C23;
		}
		.btn, .btn-group-md>.btn, .vc_btn3.vc_btn3-size-md {
			padding: .1rem .933rem !important;
			font-size: .8rem;
			line-height: 1.42857;
		}

		.elementor-element-ba28491 form  #searchpr{
			width: 200px;
		}
		#header .searchform {
			border: 0px !important;
		}
		#request-a-free-sample form .form-row { margin:  20px 0;}

		#header li.phone:after{
			width: 0px !important;
		}

		.archive .products ul li{

			margin-bottom: 0px !important;
		}
		.archive .products ul{
			margin-bottom: 0px !important;
		}

		.left-sidebar ul.parentcat-aside li.parentcategory-sidebar {
			padding: 15px  0px;
		}

		#wpcf7-f11388-p11386-o1 .wpcf7-form input[type="submit"]:hover{


			background-color: #fff;
			color: var(--porto-primary-color);

		}
		.wpcf7-form input[type="number"] {

			border: 1px solid #ccc;
		}
		#wpcf7-f11388-p11386-o1 .wpcf7-form input[type="submit"]{


			background-color: var(--porto-primary-color);
			border-color: var(--porto-primary-color);
			color: #fff;

		}

		#wpcf7-f551-p994-o1 .wpcf7-form input[type="submit"]:hover{


			background-color: #fff;
			color: var(--porto-primary-color);

		}
		#wpcf7-f551-p994-o1 .wpcf7-form input[type="submit"]{


			background-color: var(--porto-primary-color);
			border-color: var(--porto-primary-color);
			color: #fff;

		}
		.woocommerce-checkout tr.tableRow label.container{
			position: relative;
		}

		.woocommerce-checkout tr.tableRow label.container input[type="radio"]{
			position: absolute;
			left: 0px;
			top: 5px;
		}

		.elementor-element-0cc643e .btn-primary, .btn-primary i {
			color: #fff;

		}
		.elementor-element-0cc643e .btn-primary:hover, .btn-primary i:hover {
			color: var(--porto-primary-color);
			background-color: #fff;
			border-color: var(--porto-primary-color);
			transition: all .5s;
		}

		.single-product table{
			border: 0px !important ;
		}
		.border-none{
			border: 0px !important;
		}
		.elementor-element-19518ed .post-meta{
			height: 50px;
		}
		.parentcategory-sidebar{
			padding: 15px 0 !important;
		}
		.elementor-11921 .elementor-element.elementor-element-6ea5fe30:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap{
			background-color: #fff;
		}
		.postid-11813 .elementor-widget-container table  ,
		.postid-11813 .elementor-widget-container table tr:not(:first-child)
		{
			border: 0px;
		}
		.elementor-3352 .elementor-element.elementor-element-644c98b .elementor-heading-title {

			font-size: 5rem !important;
			float: left !important;
			height: 97px;
		}

		#header .main-menu>li.menu-item>a{
			padding: 0px 19.2px;
		}

		.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
			color: var( --e-global-color-text );
			fill: var( --e-global-color-text );
		}

		.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
			font-family: var( --e-global-typography-primary-font-family ), Poppins;
			font-weight: var( --e-global-typography-primary-font-weight );
		}

		.share-links{
			padding: 15px 0 0 0 ;
		}
		.elementor-element-d92b26c nav{
			padding: 10px 0 0 0 ;
		}


		.last-market-trends-reports li .row{
			display: flex;
			justify-content: space-between;
		}


		#wpcf7-f4410-o7 .wpcf7-form-control.wpcf7-select {
			border: 1px solid #ccc;
			width: 100%;
			color: #777 !important;
		}

		#wpcf7-f4410-o7 .wpcf7-form-control.wpcf7-text{
			width: 100%;
			height: 47px;
			color: #777 !important;

		}
		
		.page-top .breadcrumbs-wrap {
			
		margin: 0 0 1rem 0 !important;
		}
		@media (min-width: 768px) {

				.elementor-5 .elementor-element.elementor-element-5041b0a {
					width: 60% !important;
				}

			/*.elementor-5 .elementor-element.elementor-element-1483013  .elementor-widget-wrap {*/

			/*    justify-content: end !important;*/
			/*    top: -100% !important;*/
			/*    padding: 0 23% 0 0 !important;*/

			/*}*/

			/*.elementor-element-1483013{*/
			/*    top: -19% !important;*/
			/*    position: absolute !important;*/
			/*}*/



			/*.elementor-5 .elementor-element.elementor-element-1483013.elementor-column > .elementor-widget-wrap {*/
			/*    justify-content: end;*/
			/*    margin: -4% 15% 2% 0;*/
			/*}*/


		}
		
		

		@media only screen and (max-width: 600px) {
		    
	


		}




		/*Customizer Additional Styles */
		.elementor-element-3fc25e7 .elementor-tabs-content-wrapper {
			border-left: 4px solid #000 !important;
			border-bottom: none !important;
			border-top: none !important;
			border-right: none !important;
			min-height: 100%;
		}
		.elementor-element-3fc25e7
		.elementor-widget-tabs .elementor-tab-content {
			padding: 0px 20px !important;

		}
		/*
		.elementor-element-3fc25e7 .elementor-tabs-wrapper .elementor-tab-title::before {
			margin-left: 0.25em;
			font-size: 1em;
			vertical-align: middle;
			font-family: "Font Awesome 5 Free";
			font-weight: 700;
			content: "\f111" !important;
			position: absolute !important;
			top: -11px !important;
			left: -15px;
			color: #fb6401;
		}
		*/

		.trending-reports-container{
			min-height: 100% !important;
		}
		.last-market-trends-reports .report-description {
			height: 80px;
			overflow: hidden;
			margin: 0px 0 29px 0;
		}
		.last-market-trends-reports .report-description p{
		    font-size: 1rem;
		}
		ul.reportmeta{

			display: flex;
			flex-direction: row;
			justify-content: space-between;

		}
		.last-market-trends-reports > li {
			border-bottom: 1px solid #e8e7e7;
			margin: 0 0 10px 0;
			padding: 0 0 20px 0;
		}
		.last-market-trends-reports {
			flex-direction: column;
		}
		.last-market-trends-reports h3 {
			font-size: 1.4rem !important;
			color: #f04c23;
			letter-spacing: 1px;
			font-weight: 700 !important;
		}

		.elementor-element-3fc25e7  .elementor-widget-tabs.elementor-tabs-view-vertical .elementor-tab-desktop-title.elementor-active::after{

			border-right-style: transparent !important;
			border: 0px !important;
		}
		.elementor-element-3fc25e7 .elementor-tabs-wrapper .elementor-tab-title:hover{
			color: #fb6401;

			transition: all .5s;
			border-bottom-color: #fb6401;
		}
		.elementor-element-3fc25e7 .elementor-tabs-wrapper  .elementor-active {
			color: var(--porto-primary-color) ;
			border-bottom: 4px solid var(--porto-primary-color) ;
		}

		.elementor-element-3fc25e7 .elementor-tabs-wrapper .elementor-tab-title {
			border-left: none !important;
			border-right: none !important;
			border-top: none !important;
			border-bottom: 4px solid #000 !important;
			color: #000;
			font-size: 1.05rem;
			letter-spacing: .5px;
		}


		.reportexcerpt{
			font-size: 1.1rem;
			font-weight: 700;
			text-align: justify;
			line-height: 1.7;
		}
		.wpcf7-form .form-control{
			color: #000 !important;
		}
		.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.form-control {
			border: 1px solid #ccc;
		}
		.wpcf7-form .form-control::placeholder {
			color: #151515;
		}
		.archive .woocommerce-loop-product__title {
			color: #f26946;
		}
		.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.form-control {
			height: 70px;
		}
		.wpcf7-form-control.wpcf7-select {

			border: 1px solid #ccc;
			color: #000;
			border-radius: 5px;
		}

		.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control {
			border: 1px solid #ccc;
		}

		.pt-20{

			padding-top: 20px !important;
		}
		.pb-20{
			padding-bottom: 20px !important;
		}
		.footer-wrapper {
			display: none !important;
		}
		.home .elementor-carousel-image{

			padding: 129px 0 0 0;
			margin: 15px 0;
			height: 50%;
		}
		.header-wrapper{
			border-bottom: 1px solid #edecec;
		}
		#header .main-menu > li.menu-item > a{
			color: #000;
		}

		.elementor-tabs-wrapper .elementor-tab-title {
			color: #000;
			font-family: roboto, sans-serif;
		}

		.header-left , .header-right{
			padding: 0px;
		}



		.elementor-element-8b3be4e h2 {

			color: #fff;
		}
		.elementor-element-537ea93 h2 {

			color: #fff;
		}
		.elementor-element-af07e84 h2 {

			color: #fff;
		}

		.elementor-element-f1a3885 p ,
		.elementor-element-cfb9971 ul li a
		, .elementor-element-cfb9971 ul li a::marker
		,
		.elementor-element-af07e84 ul li a ,
		.elementor-element-af07e84 ul li a::marker
		,
		.elementor-element-af07e84 ul li a::marker
		,
		.elementor-element-f1a3885 span {
			color: #fff;
			font-size: 17px;
			line-height: 25px;
		}
		/*#relatedPosts{ display: none; }  
		#relatedPosts{ display: none; } */
		.subheading-barchart {
			font-size: 1rem;
			font-weight: 600;
			color: var(--wp--preset--color--vivid-red);
		}
		.barchart-source{
		  font-size: 0.5rem !important;
		}

		body.archive .wpforms-field-container > div input , body.archive .wpforms-field-container > div select{ max-width: 100% !important;}
		div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
			background-color: #f04c23 !important;
			border: 1px solid #f04c23 !important;
			color: #fff !important;
			font-size: 1em;
			padding: 10px 15px;
		}

		#wpforms-17645-field_2 {
			padding: 10px 5px;
			margin-bottom: 10px;
			width: 100% !important;
			max-width: 100% !important;
		}
		#wpforms-17645-field_3 {
			padding: 2px 5px;
			margin-bottom: 10px;
			width: 100% !important;
			max-width: 100% !important;
		}
		.searchform {
		   border-radius : 20px !important;
		}
		.elementor-element-7947714 .elementor-widget-container input[name=s] {
			
			
			border: 1px solid #ccc !important;
			border-radius: 20px 1px 1px 20px !important;


		}
		.elementor-element-7947714 .elementor-widget-container select#product_cat ,
		.selectric{
			border-top: 1px solid #ccc !important;
		  /*  border-left: 0px !important;*/
			border-bottom: 1px solid #ccc !important;
		   /* border-right: 1px solid #ccc !important;*/
		}

		.elementor-element-7947714 .elementor-widget-container button[type=submit] {
			border-right: 1px solid #ccc !important;
			border-left: 0px !important;
			border-top: 1px solid #ccc !important;
			border-bottom: 1px solid #ccc !important;
			border-radius: 0px 20px 20px 0px !important;
		}
		.hide{
		display: none;
		}
		.show{
		 display: block !important;
		}
	.choices{
	 max-width : 100%;
	}


	 
		@media only screen and (max-width: 425px){
		    .elementor-5 .elementor-element.elementor-element-b8788f2{
		        margin-bottom: 0px !important;
		    }
		
		.page-top .page-title {
    
                font-size: 22px;
                padding: 0 29px;
                line-height: 30px;
            }
	
		.elementor-element-d3383dc > .elementor-container{
		        
                flex-direction: column-reverse;
                justify-content: start;
                align-items: center;

		}
		
		#header .searchform-popup {
		display: none;
	}
	
	/*

	 .elementor-element-d3383dc .elementor-element-c6afb4a {
    width: 36%;
    position: absolute;
    top: -60%;
    left: -5%;
}

*/
.page-top ul.breadcrumb {
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: row;
}
	   
	
/*	
	.home .elementor-element-d3383dc .elementor-element-c6afb4a {
    width: 60%;
    position: absolute;
    top: -87%;
    left: -10%;
}
*/
.archive .elementor-element-d3383dc .elementor-element-8f27fbd { 
		
    position: absolute;
    z-index: 2;
    left: 3%;

}
.vertical-alignment{
	display: flex;
	align-items: center;
	gap:5px;
}
/*
.home .elementor-element-d3383dc .elementor-element-8f27fbd {
    position: absolute;
    top: -81%;
    right: 5%!important;
    z-index: 2;
}
*/

/*
.single .elementor-element-d3383dc .elementor-element-c6afb4a {
    width: 30%;
    position: absolute;
    top: -61%;
    left: -4%;
}
*/
/*
	.single .elementor-element-d3383dc .elementor-element-8f27fbd {
    position: absolute;
    top: -39%;
    left: -47%;
    z-index: 2;
}*/

/*	 
.single-press-releases .elementor-element-d3383dc .elementor-element-8f27fbd {
    position: absolute;
    top: 18%;
    left: 2px;
    z-index: 2;
}
*/

/*
.single-press-releases .elementor-element-d3383dc .elementor-element-c6afb4a {
    width: 30%;
    position: absolute;
    top: -48%;
    left: -3%;
}
*/
		
		.home .elementor-widget-wrap{
			padding: 30px;
		}
		
		 
		
		
		.submit-customize-form-section{
			
		margin: 20px 0 0 0;

		}
				.burger-icon{

					display: block;
					background-color: var(--bs-primary);
					padding: 10px 15px;

				}
				.burger-icon i{

					color: #fff;
					font-size: 1rem;

				}

				.woocommerce-checkout .sectionHeading{
						font-size: 1.3rem;
				}

				.checkout-order-review .featured-boxes {
						padding: 20px;
				}

				.payment-gateway-icons img {
						max-width: 35%;
				}
				.single-product .page-top .page-title {
						font-size: 1.5rem;
						padding: 6%;
						line-height: 30px;
				} 
		  
				.customer-support-checkout-container ul {
						display: flex;
						align-items: center;
						flex-direction: column;
						max-width: 100%;
						justify-content: start;
				}
		}
		@media only screen and (max-width: 600px) {
		    
		    
		    
		    	    

        .elementor-element-b0dedac .elementor-widget-wrap {
            padding: 0px;
        }
        
        .elementor-element-b0dedac.elementor-heading-title{
            font-size: 4.5rem;
        }

        .elementor-element-34730c4{
		
		display: none;
	}
	.elementor-element-1483013 .elementor-element-populated {
		
    
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;

	}
	

			#header.sticky-header .custom-header-main.sticky {
				height: 13%;
			}
			.elementor-element-0f97a63 h1 img{
				width: 70%;
				margin: -5% 0 0 0;

			}



			.elementor-element-04f34f8 {
				display: flex;
				justify-content: flex-start !important;
				padding: 0 0 0 30px !important;
			}
			
			.elementor-element-b8788f2 > .elementor-container{
				height: 64px;
			}

/*

			.elementor-element-34730c4{
				position: absolute;
				left: -15%;
			}
			*/
			.elementor-element-5041b0a {
				position: absolute;
				right: 10%;
				z-index: 99;
			}
			
/*
			.elementor-element-1483013{
				position: absolute;
				right: -28%;
				top: -4%;

			}
			*/
			.elementor-element-d3383dc{
				height: 80px;
			}

 
			.last-market-trends-reports .row{
				display: flex;
				align-items: center;
				flex-direction: column;
			}

			/*Menu mobile view styles*/
			/*
			.elementor-element-b8788f2 > .elementor-container {
				position: relative;
			}
			#header .share-links{ display: flex;}
			#header .share-links > a {

				padding: 20px;
			}
			.elementor-element-34730c4 {
				position: absolute;
				left: -16%;
			}
			.elementor-element-5041b0a {
				position: absolute;
				right: -45%;
			}
			.elementor-element-1483013 {
				top: -5px;
				right: -24%;
			}

			.elementor-element-8f27fbd  > .elementor-widget-wrap{
				position: relative;
				height: 100px;
			}
			.elementor-element-8f27fbd .elementor-element-192a304 {
				position: absolute;
				right: 0;
			}
			.elementor-element-04f34f8{
				position: absolute;
				top: 50%;
				left: -3%;

			}
			*/


			.page-top .breadcrumbs-wrap {
				color: #777777;
				padding: 0 0 0 10px;
				margin: 0 0 20px 0;
			}
			.breadcrumbs-wrap .breadcrumb{
				display: flex;
				flex-direction: column;
				align-items: start;
				margin: 30px;
			}

			/*
			.fixedFooter {
				bottom: 56px !important;
			}*/


			.elementor-element-3fc25e7 .elementor-widget-container .elementor-tabs-content-wrapper{ padding: 0 20px; }
			.footer-bg-dark{

				padding: 25px;
			}
			.single-product .breadcrumb {

				padding: 0 15px;
			}


			.reportMetaArchive {
				display: flex;
				flex-direction: column;
				align-items: start;
			}
			.reportMetaArchive li span {


				font-size: .8rem;
				color: #000;
			}
			.add-links-wrap .add-links a{

				width: 100%;
				font-size: 1rem;
			}

			.request-for-customization{ display: none;}
			footer.footer-bg-dark{ padding: 20px 30px; }
			#myTab{ flex-direction: column; }
			#myTab .nav-item{ width: 100%; margin: 0 0 5px 0;  }
			#myTab .nav-item button{ width: 100%;}
			.subscribe-input #submit{padding: 22% 21%;}
			.subscribe-input input{max-width: 65% ;}
			.payment-gateway-icons{ margin-bottom:50px;}
			.related-reports-item{ flex-direction: column; margin: 13px 0 6px 0;}
			.related-reports-item .col-md-4{ margin: 10px 0 0 -35px; }
			.home ul.reportmeta{ flex-direction: column;}
			.elementor-element-3fc25e7 .elementor-tabs-content-wrapper{ border-left: 0px !important;}
			.elementor-3352 .elementor-element.elementor-element-3fc25e7 .elementor-tabs-content-wrapper{ padding: 0px; border-left: none !important;}
			.last-market-trends-reports h3{ font-size: 1rem; color: #000;}
			.submitContainer .col-md-8{ order:2;}
			.submitContainer .col-md-4{ order:1; margin: 0px !important;}

			.elementor-tabs-content-wrapper .elementor-tab-content h3 { color: #636161; font-size: 1.1rem !important;}
			.elementor-tabs-content-wrapper { padding: 20px 0px ; }
			.elementor-element.elementor-element-3fc25e7 .elementor-tab-title{ padding: 0px; }
			.elementor-element-1a73d42{ text-align: center; }
			.table-wrapper{ max-width: 100%; }
			.table-wrapper > .scroller { overflow: scroll; overflow-y: hidden; 	}
			.table-wrapper td , .table-wrapper th{  white-space: nowrap; }
			.tableRow img { max-width: 20%; }

			.customer-support-checkout-container ul {
				display: flex;
				align-items: center;
				flex-direction: column;
				max-width: 100%;

			}
			.customer-support-checkout-container ul li {
				list-style: none;
				width: 100%;
				margin: 0px 0 7px -23px;
				padding: 10px 0 10px 0;
				border-bottom: 1px solid #f9613b;
			}
			.checkout-order-review .row > *{  margin: 20px 0; }
			label.container{

				font-size: .8rem;
				max-width: 100%;
				padding: 0 0 0 30px !important;

			}
			.borderRight{ border: none;}


		    .elementor-3352 .elementor-element.elementor-element-644c98b .elementor-heading-title{
		        margin: 0 0 40px 0;
		    }
		    
		    
		    .elementor-active ul{
		        overflow: hidden;
		    }
		    
		    .elementor-element-ae2052d{
		        padding: 0 5%;
		    }
		    
			#nav-panel{
			 /* display: block !important;*/
			}
			#header .logo img {
			transform: translate(8% , 8%) !important;
		}
		}
		/* execute thess styles,  if screen size is greater than 600px*/
		@media screen and (min-width: 600px) {
			
			.burger-icon{ display: none;}
		}

	.reportbtnback {
		background: var(--wp--preset--color--primary);
		border: 1px solid var(--wp--preset--color--primary);
		padding: 15px;
		color: #fff;
	}

	.reportbtnback:hover{ 
		background: #fff;
		border: 1px solid var(--wp--preset--color--primary);
		color: var(--wp--preset--color--primary);
		  transition: all 2s;

		
	}